<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.user.mapper.LpCleaningMethodsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.LpCleaningMethods">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="method_name" column="method_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,method_name,description
    </sql>
</mapper>
